{% comment %} This section is used in the product template to render product page with media gallery ,Product Info add-to-cart form. {% endcomment %}

<section id="shopify-section-{{ section.id }}" class="main-product">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">

    {% render 'product-media-gallery' %}
    {% render 'product-info' %}

  </div>
</section>

{% schema %}
  {
    "name": "t:main_product.name",
    "settings": [
      {
        "type": "header",
        "content": "t:main_product.product_media"
      },
      {
        "type": "select",
        "id": "media_layout",
        "label": "Layout",
        "options": [
          {
            "value": "slider",
            "label": "Slider"
          },
          {
            "value": "grid",
            "label": "Grid"
          }
        ],
        "default": "slider"
      },
      {
        "type": "header",
        "content": "Slider Settings"
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "label": "Thumbnail Position",
        "options": [
          {
            "value": "vertical_left",
            "label": "Vertical - Left"
          },
          {
            "value": "vertical_right",
            "label": "Vertical - Right"
          },
          {
            "value": "horizontal",
            "label": "Horizontal"
          },
          {
            "value": "no_thumbnails",
            "label": "No Thumbnails"
          }
        ],
        "default": "vertical_left"
      },
      {
        "type": "checkbox",
        "id": "show_media_nav",
        "label": "Show Media Navigation",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Enable Dots",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_slide_count",
        "label": "Enable Slide Counter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Infinite Loop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Enable Autoplay",
        "default": false
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "Autoplay speed (ms)",
        "min": 2500,
        "max": 5000,
        "step": 500,
        "default": 3500
      },
      {
        "type": "select",
        "id": "zoom_style",
        "label": "Zoom Effect",
        "options": [
          {
            "value": "hover",
            "label": "Hover"
          },
          {
            "value": "popup",
            "label": "Popup"
          },
          {
            "value": "none",
            "label": "none"
          }
        ],
        "default": "popup"
      },
      {
        "type": "header",
        "content": "Grid Settings"
      },
      {
        "type": "select",
        "id": "media_grid_count",
        "label": "Grid Columns",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ],
        "default": "2"
      },
      {
        "type": "header",
        "content": "Other Settings"
      }
    ],
    "blocks": [
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_unit_price",
            "label": "Show unit price",
            "default": true
          }
        ]
      },
      {
        "type": "sku_barcode",
        "name": "SKU & Barcode",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_sku",
            "label": "Show SKU",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_barcode",
            "label": "Show barcode",
            "default": false
          }
        ]
      },
      {
        "type": "variant_select",
        "name": "Variant select",
        "limit": 1
      },
      {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      },
      {
        "type": "atc",
        "name": "Add to cart",
        "limit": 1
      },
      {
        "type": "dynamic_checkout",
        "name": "Dynamic checkout",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      },
      {
        "type": "notifications",
        "name": "Notifications",
        "limit": 1
      },
      {
        "type": "stock_info",
        "name": "Stock Info",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "label": "Label",
            "id": "label",
            "default": "Available Stock",
            "info": "Note: Clear label text to hide label."
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Rich text",
        "settings": [
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Extra details here.</p>"
          }
        ]
      },
      {
        "type": "usp",
        "name": "USP",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon",
            "default": "✅"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Free shipping over ₹999"
          }
        ]
      },
      {
        "type": "divider",
        "name": "Divider"
      }
    ],
    "presets": [
      {
        "name": "t:product.main_product.name",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "variant_select"
          },
          {
            "type": "quantity"
          },
          {
            "type": "atc"
          },
          {
            "type": "dynamic_checkout"
          },
          {
            "type": "description"
          },
          {
            "type": "notifications"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}

<script type="application/json" data-variants-json>
  [
  {%- for v in product.variants -%}
    {
      "id": {{ v.id }},
      "available": {{ v.available | json }},
      "inventory_management": {{ v.inventory_management | json }},
      "inventory_policy": {{ v.inventory_policy | json }},
      "inventory_quantity": {{ v.inventory_quantity | default: 0 }},
      "price": {{ v.price | json }},
      "compare_at_price": {{ v.compare_at_price | json }},
      "sku": {{ v.sku | json }},
      "barcode": {{ v.barcode | json }},
      "featured_media_id": {{ v.featured_media.id | json }},
      "option1": {{ v.option1 | json }},
      "option2": {{ v.option2 | json }},
      "option3": {{ v.option3 | json }}
    }{% unless forloop.last %},{% endunless %}
  {%- endfor -%}
  ]
</script>